 
<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
 
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
 
        <div class="card-body">
            <form method="POST" action="/articles/update">
              <input type="hidden" name="id" value="<%- article.id %>">
                <input class="form-control" type="text" name="title" value="<%- article.title %>"><br>
                <textarea name="body" class="form-control" id="article" placeholder="Escreva o artigo aqui">  <%- article.body %></textarea>
                <br>
                <label>Categorias</label>

                <select name="category" class="form-control">
                  <% categories.forEach((category) => { %>
                      <% if(category.id == article.categoryId) { %> 
                          <option value="<%= category.id %>" selected><%= category.title %></option>
                      <% } else { %>
                          <option value="<%= category.id %>"><%= category.title %></option>
                      <% } %>   
                  <% }) %>
              </select>
                <br>
                <button class="btn-success" type="submit">Atualizar</button>
            </form>
        </div>
    </div>
</div>
 
<div id="content">

</div>

<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>

<script>

tinymce.init({
  language : 'pt_BR',
  selector : "#article",
  plugins : [ 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons']
})

</script>