 
<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
 
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Novo artigo</h2>
        </div>
 
        <div class="card-body">
            <form method="POST" action="/articles/save">
                <input class="form-control" type="text" name="title" placeholder="Defina o titulo do artigo"><br>
                <textarea name="body" class="form-control" id="article" placeholder="Escreva o artigo aqui"></textarea>
                <br>
                <label>Categorias</label>
                <select name="category" class="form-control">
                  <% categories.forEach((category) => { %>
                    <option value="<%= category.id %>">
                      <%= category.title %>
                    </option>
                  <% }) %>
                </select>
                <br>
                <button class="btn-success" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
 
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>

<script>

tinymce.init({
  language : 'pt_BR',
  selector : "#article",
  plugins : [ 'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons']
})

</script>