 
<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
 
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Category update</h2>
        </div>
 
        <div class="card-body">
            <form method="POST" action="/categories/update">
                <input class="form-control" type="text" name="title" placeholder="Category title" value="<%= category.title %>"><br>
                <input type="hidden" name="id" value = "<%= category.id %>" >
                <button class="btn-success" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>
 
<%- include('../../partials/footer.ejs') %>