<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs") %>
<body>
  <div class="container">
    <div class="card">
      <div class="card-header">
       <h4> <%= article.title %></h4>
      </div>

      <br>

      <div class="card-body">
      </div>
        <%- article.body %>
      <br>

    </div>
  </div>
</body>
<%- include ('partials/footer.ejs') %>